.Header {
  $Header: &;
  position: fixed;
  top: -2.2rem;
  left: 0;
  z-index: 99;
  width: 100%;
  transition: top 0.3s;

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $white;
    transition: top 0.3s;
  }

  &.top {
    top: 0;

    &::before {
      top: -9rem;
    }
  }

  &.up {
    #{$Header}__btn--contact {
      @include btn-rounded($black, $white);
    }
  }

  &.down {
    top: -9rem;
  }

  &.sub {
    @extend #{$Header}, .up;
    top: 0;
  }

  &__inner {
    @include flex(space-between, center);
    padding: 3.5rem 3rem 0.8rem 4rem;
    max-width: $max-inner;
    margin: 0 auto;
    background: transparent;
  }

  &__btn {
    &--nav {
      width: 4.4rem;
      height: 4.4rem;
      padding: 1rem;
      cursor: pointer;
      background: transparent;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        position: absolute;
        transition: transform 0.3s;
        will-change: transform;
      }

      &:hover {
        svg {
          &:first-child {
            transform: translate(-0.8rem, 0.3rem);
          }
          &:nth-child(2) {
          }
          transform: translate(0.8rem, -0.3rem);
        }
      }
    }

    &--contact {
      @include btn-rounded($white, $black);
      text-transform: uppercase;
    }
  }

  .Logo {
    svg {
      transition: fill 0.3s;
    }
  }

  @media (max-width: $pc-width) {
    &.up {
      top: -9rem;
    }
    &.sub {
      top: 0;
    }
    &__btn {
      &--contact {
        display: none !important;
      }
    }
  }
}
