.Header {
  @include flex(space-between, center);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 3.5rem 4rem 0.8rem 4rem;
  max-width: $max-inner;
  margin: 0 auto;
  background: transparent;

  &__btn {
    &--nav {
      width: 4.4rem;
      height: 4.4rem;
      padding: 1rem;
      cursor: pointer;
    }

    &--contact {
      @include btn-rounded($white, $black);
    }
  }
}
