.Header {
  position: fixed;
  top: -2.2rem;
  left: 0;
  z-index: 99;
  width: 100%;
  transition: top 0.3s;

  &.top {
    top: 0;
  }

  &.up {
  }
  &.down {
  }

  &__inner {
    @include flex(space-between, center);
    padding: 3.5rem 4rem 0.8rem 4rem;
    max-width: $max-inner;
    margin: 0 auto;
    background: transparent;
  }

  &__btn {
    &--nav {
      width: 4.4rem;
      height: 4.4rem;
      padding: 1rem;
      cursor: pointer;
      background: transparent;
    }

    &--contact {
      @include btn-rounded($white, $black);
      text-transform: uppercase;
    }
  }
}
