@keyframes nav-item-ani {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Nav {
  $Nav: &;
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  background: #fff;
  transition:
    visibility 0.3s 0.3s,
    top 0.3s;
  &.open {
    top: 0;
    visibility: visible;
    transition:
      visibility 0.3s,
      top 0.3s;

    #{$Nav}__menu-item {
      opacity: 1;
      @for $i from 1 to 6 {
        &:nth-child(#{$i}) {
          animation: nav-item-ani 0.2s ease-out #{0.15 * $i}s both;
        }
      }
    }
  }

  &__inner {
    display: grid;
    height: 100%;
    grid-template: 'a a' auto 'b c' 1fr 'd d' auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }

  &__header {
    @extend .Header__inner;
    padding-bottom: 3.5rem;
    width: 100%;
    grid-area: a;
  }

  &__btn {
    &--nav {
      background: transparent;
      cursor: pointer;

      svg {
        width: 2.26rem;
        height: 2.26rem;
      }

      &:hover {
        svg {
          transition: transform 0.2s ease-out 0.12s;
          transform: rotate(90deg);
        }
      }
    }
    &--contact {
      @include btn-rounded($black, $white);
      text-transform: uppercase;
    }
  }

  &__menu {
    &-list {
      @include flex(center, stretch, 0, column);
      padding: 0 4rem;
      width: 100%;
      grid-area: c;
    }
    &-item {
      opacity: 0;
      a {
        padding: 1rem 0;
        font-size: 3.2rem;
        text-transform: uppercase;
      }
    }
  }

  &__img {
    &-container {
      @include flex(center, center);
      width: 100%;
      padding-right: 15.5rem;
      grid-area: b;

      img {
        width: 100%;
      }
    }
  }

  &__footer {
    @include flex(space-between, center);
    padding: 0 6rem 6rem 6rem;
    grid-area: d;

    &-info {
      @extend .Footer__info;

      &-item {
        @extend .Footer__info-item;

        &:nth-child(2)::after {
          display: none !important;
        }
        &:nth-child(3)::after {
          content: '|';
          margin-left: 2rem;
          display: inline-block;
        }
      }
    }
  }

  &__link-container {
    @extend .Footer__link-container;
  }
}
