.Service {
  padding: 0 2.4rem;
  position: relative;
  overflow: hidden;
  max-width: $max-inner;
  margin: 0 auto;

  &__title {
    @include sec-title;
  }

  &__desc {
    @include sec-desc;
    margin-top: 3rem;
  }

  &__btn {
    @include flex(flex-start, center, 4rem);
    margin-top: 6rem;

    a {
      @include btn-with-arrow;
      text-transform: uppercase;
    }
  }

  &__desti {
    &-container {
      @include flex(flex-start, center, 4rem);
      margin-bottom: 12rem;
      margin-top: 21.7rem;
    }

    &-list {
      overflow: hidden;
      height: 11.5rem;
    }

    &-icon {
      width: 4.6rem;
      height: 4.6rem;
    }

    &-item {
      @include exo(700);
      font-size: 9rem;
      line-height: 11.5rem;
    }
  }
}
