.Service {
  padding: 0 2.4rem;
  position: relative;
  overflow: hidden;
  max-width: $max-inner;
  margin: 0 auto;

  &__title {
    @include sec-title;
  }

  &__desc {
    @include sec-desc;
    margin-top: 3rem;
  }

  &__btn {
    @include flex(flex-start, center, 4rem);
    margin-top: 6rem;

    a {
      @include btn-with-arrow;
      text-transform: uppercase;
    }
  }

  &__desti {
    &-container {
      @include flex(flex-start, center, 4rem);
      margin-bottom: 12rem;
      margin-top: 21.7rem;
      position: relative;
      z-index: 3;
    }

    &-list {
      overflow: hidden;
      height: 11.5rem;
      margin: 0 !important;
    }

    &-icon {
      width: 4.6rem;
      height: 4.6rem;
    }

    &-item {
      @include exo(600);
      font-size: 10rem;
      line-height: 11.5rem;
    }
  }

  &__text {
    &-container {
      width: 50%;
      margin: 0 auto;
    }
  }

  &__img {
    &-container {
      position: absolute;
      z-index: 1;
      overflow: hidden;
      &:nth-child(2) {
        width: 16.66%;
        height: 44.4rem;
        top: 0;
        left: 0;
      }
      &:nth-child(3) {
        width: 33.3%;
        height: 33.4rem;
        right: 0;
        bottom: 20%;
      }
      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }

    &-item {
      height: 100% !important;
      align-self: stretch;
    }
  }
}
