.Fleet {
  padding: 10rem 0 13rem 0;
  background-image: radial-gradient(#2a323b, #000 75%);
  overflow: hidden;

  &__title {
    @include sec-title();
    color: $white;
    text-align: center;
  }

  &__btn {
    @include flex(center);
    a {
      @include btn-with-arrow;
      color: $white;
      text-transform: uppercase;
    }
  }

  .swiper {
    margin: 12rem auto;
    width: 98rem;
    overflow-x: visible;

    &:active {
      outline: none;
    }

    &-slide {
      overflow: hidden;
      padding: 0 4.5rem;
    }

    &-button {
      @mixin nav-btn {
        width: 6rem;
        height: 6rem;
        transition: opacity 0.3s;

        &.swiper-button-disabled {
          opacity: 0.4;
        }

        &::after {
          content: url('../../../assets/image/main/arrow-down.svg');
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }
      &-prev {
        @include nav-btn();
        transform: rotateZ(90deg) rotateY(180deg);
      }

      &-next {
        @include nav-btn();
        transform: rotateZ(-90deg);
      }
    }
  }

  &__img {
    &-container {
      overflow: hidden;

      img {
        width: 100%;
        height: 24rem;
        object-fit: contain;
      }
    }
  }
}
