.SideCta {
  $sidecta: &;
  position: fixed;
  // top: 50%;
  width: 20rem;
  right: 0;
  top: calc(50% - 15rem);
  z-index: 5;
  transition:
    width 0.3s,
    top 0.3s;
  transform: rotateZ(270deg);
  transform-origin: bottom right;

  a {
    height: 5rem;
    margin: auto 0;
    overflow: hidden;
    transition: width 0.3s;
    background: $black;
  }

  &__text {
    @include flex(center, center);
    @include exo(600);
    width: 100%;
    height: 100%;
    transform: rotateZ(270deg) translateY(0);
    transform: translateY(0);
    transition: transform 0.3s 0.2s;
    text-transform: uppercase;

    color: $white;
  }

  &:hover {
    width: 100vh;
    top: -5rem;

    #{$sidecta}__text {
      transform: translateY(-5rem);
    }
  }
}
