.SideCta {
  @keyframes popupAni {
    0% {
      backdrop-filter: blur(0);
    }
    100% {
      backdrop-filter: blur(1.5rem);
    }
  }

  @keyframes popupFadeAni {
    0% {
      backdrop-filter: blur(1.5rem);
    }
    100% {
      backdrop-filter: blur(0);
    }
  }
  @keyframes popupInnerAni {
    0% {
      right: -100%;
    }
    100% {
      right: 0%;
    }
  }
  @keyframes popupInnerFadeAni {
    0% {
      right: 0%;
    }
    100% {
      right: -100%;
    }
  }

  $sidecta: &;
  position: fixed;
  // top: 50%;
  width: 20rem;
  right: 0;
  top: calc(50% - 15rem);
  z-index: 35;
  transition:
    width 0.3s,
    top 0.3s;
  transform: rotateZ(270deg);
  will-change: width;
  transform-origin: bottom right;

  &[data-isopen='true'] {
    z-index: 501;
    width: 100vh;
    top: -5rem;
    #{$sidecta}__text {
      transform: translateY(-10rem) !important;
    }
  }

  a {
    height: 5rem;
    margin: auto 0;
    overflow: hidden;
    transition: width 0.3s;
    background: $black;
  }

  &__text {
    @include flex(center, center);
    @include exo(600);
    width: 100%;
    height: 100%;
    transform: rotateZ(270deg) translateY(0);
    transform: translateY(0);
    transition: transform 0.3s 0.2s;
    text-transform: uppercase;

    color: $white;

    &-icon {
      width: 0.8rem;
      height: 0.8rem;
      margin-left: 1rem;
    }
  }

  &:hover {
    width: 100vh;
    top: -5rem;

    #{$sidecta}__text {
      transform: translateY(-5rem);
    }
  }

  &__pop {
    position: fixed;
    z-index: 500;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1.5rem);
    animation: popupAni 0.3s both;

    &[data-close='true'] {
      animation: popupFadeAni 0.3s both;

      #{$sidecta}__pop-inner {
        animation: popupInnerFadeAni 0.3s both;
      }
    }

    &-inner {
      width: 90%;
      height: 100%;
      background: $white;
      position: absolute;
      right: 0;
      display: flex;
      flex-direction: column;
      padding-right: 5rem;
      animation: popupInnerAni 0.3s both;
    }

    &-title {
      font-size: 4rem;
      font-weight: 300;
    }

    &-close {
      display: none;
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.2rem;
      width: 2.8rem;
      height: 2.8rem;
      font-size: 0;
      text-indent: -9999;
      color: transparent;
      background: transparent;
      cursor: pointer;
      &-inner {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        &::after,
        &::before {
          content: '';
          display: inline-block;
          width: 0.2rem;
          height: 100%;
          background: $black;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }

        &::before {
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
      }
    }

    &-tab {
      display: flex;
      border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
      padding: 12rem 10rem 0rem 10rem;
      flex-shrink: 0;
      &-item {
        button {
          padding-bottom: 3rem;
          background: none;
          cursor: pointer;
        }
        position: relative;
        opacity: 0.2;
        &--active {
          @extend #{$sidecta}__pop-tab-item;
          opacity: 1;
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 0.1rem;
            background: $black;
            position: absolute;
            bottom: -0.1rem;
            left: 0;
          }
        }
      }
    }

    &-contents {
      flex-grow: 1;
      flex-shrink: 1;
      padding: 7rem 12rem;
    }
    &-frame {
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  @media (max-width: $pc-width) {
    display: none;

    &__pop {
      &-inner {
        min-width: 300px;
        padding-right: 0;
      }
      &-contents {
        padding: 0;
      }
      &-close {
        display: block;
      }
      &-tab {
        padding-top: 5rem;
        padding-left: 3rem;
        &-item {
          button {
            padding-bottom: 1.2rem;
          }
        }
      }
      &-title {
        font-size: 1.4rem;
      }
    }
  }
}
