.Home {
  position: relative;
  min-height: 100vh;
  padding-top: 100vh;
  background: $black;

  .Main,
  .Introduce {
    // position: absolute;
    // top: 0;
    opacity: 0;
    pointer-events: none;
  }
  .Main {
    position: fixed;
    top: 0;
    z-index: 30;
    transition: opacity 0.3s 0.3s;
  }
  .Introduce {
    transition:
      opacity 0.3s,
      transform 0.3s;
  }

  &[data-scene='0'] {
    .Main {
      opacity: 1;
      transition: opacity 0.3s;
      pointer-events: initial;
    }
  }

  &[data-scene='1'] {
    .Introduce {
      opacity: 1;
      pointer-events: initial;
    }
  }
}
