.Introduce {
  $Introduce: &;
  @include flex(center, center);
  min-height: 100vh;
  background: $black;
  padding: 10rem 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);

  @mixin fade-transition($s) {
    transition:
      opacity #{$s}s,
      transform #{$s}s;
  }

  &__inner {
    @include flex(space-between, center);
    max-width: $max-inner;
    margin: 0 auto;
    overflow: hidden;
    flex: 1 0 0;
  }

  &__title {
    @include sec-title;
    @include fade-transition(0.7);
    opacity: 0;
    color: $white;
  }

  &__desc {
    @include sec-desc;
    @include fade-transition(0.7);
    color: hsla(0, 0%, 100%, 0.6);
    margin-top: 3rem;
    opacity: 0;
    padding-right: 14rem;
  }

  &__btn {
    @include fade-transition(0.7);
    margin-top: 6rem;
    opacity: 0;
    text-transform: uppercase;
    a {
      @include btn-with-arrow($white);
    }
  }

  &__slider {
    overflow-x: visible !important;
    text-align: right;
    padding: 0 8% !important;
    width: 50%;

    .swiper-button {
      @mixin btnStyle {
        transition-delay: opacity 1s;
        margin: 0;
        position: static;
        display: inline-flex;
      }

      &-prev {
        @include nav-btn();
        @include btnStyle();
        transform: rotateZ(90deg) rotateY(180deg);
      }

      &-next {
        @include btnStyle();
        @include nav-btn();
        transform: rotateZ(-90deg);
        margin-left: 2rem;
      }
    }
  }

  &__slide {
    transition: opacity 0.3s;
    text-align: left;

    &.swiper-slide-active {
      opacity: 1;
      #{$Introduce}__title {
        opacity: 1;
        transform: translateX(0%);
      }

      #{$Introduce}__desc {
        transform: translateX(0%);
        opacity: 1;
      }

      #{$Introduce}__btn {
        transform: translateX(0%);
        opacity: 1;
      }
    }

    &.swiper-slide-prev {
      #{$Introduce}__title {
        transform: translateX(-50%);
      }

      #{$Introduce}__desc {
        transform: translateX(-8%);
      }

      #{$Introduce}__btn {
        transform: translateX(-3%);
      }
    }

    &.swiper-slide-next {
      #{$Introduce}__title {
        transform: translateX(50%);
      }

      #{$Introduce}__desc {
        transform: translateX(8%);
      }

      #{$Introduce}__btn {
        transform: translateX(3%);
      }
    }
  }

  &__img {
    &-container {
      position: relative;
      width: 48rem;
      height: 60rem;
      overflow-x: visible !important;
      z-index: 4;
    }
    width: 100%;
    height: 100%;
    transition-property: transform, opacity !important;
    transition-delay: 0.1s;

    img {
      // position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (max-width: $pc-width) {
    &__slider {
      padding: 0rem 0 0 6rem !important;
    }

    &__img {
      &-container {
        width: 100%;
        aspect-ratio: 235 / 300;
        width: 40%;
        flex-shrink: 1;
        margin-right: 0;
        margin-left: 0;
        align-self: stretch;
      }
      img {
        object-fit: contain;
      }
    }

    &__desc {
      padding-right: 0;
    }

    &__title {
      font-size: 3.5rem;
    }
  }

  @media (max-width: $tb-width) {
    & {
      padding-bottom: 6rem;
    }
    &__inner {
      flex-direction: column-reverse;
    }

    &__slider {
      width: 100%;
      margin-left: 0;
      padding: 2rem 4rem 0 4rem !important;
      display: flex;
      flex-wrap: wrap;
    }

    &__title {
      font-size: 3rem;
      margin-top: 0.4rem;
    }

    &__desc {
      margin-top: 2rem;
    }

    &__btn {
      margin-top: 4rem;
    }

    &__img {
      &-container {
        width: 23.5rem;
        height: 30rem;
        margin-right: auto !important;
        margin-left: 0 !important;
      }
    }
  }
}
