.Main {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;

  // &__inner{
  //   width: 100%;
  //   height: 100vh;
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   z-index: 0;
  // }

  &__logo {
    width: 20rem;
    height: 20rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    mix-blend-mode: difference;

    #clip-path-left,
    #clip-path-right {
      transition: transform 0.3s;
    }
    #clip-path-left {
      transform: translateX(100%);
    }
    #clip-path-right {
      transform: translateX(-100%);
    }

    &[data-state='active'] {
      #clip-path-left,
      #clip-path-right {
        transform: translateX(0);
        transition: transform 0.3s 0.3s;
      }
    }
  }

  &__btn {
    &--next {
      @include flex(center, center, 2rem, column);
      cursor: pointer;
      position: absolute;
      z-index: 2;
      left: 50%;
      bottom: 4rem;
      transform: translateX(-50%);

      svg {
        @include arrow-btn;
      }

      &:hover svg {
        @include arrow-btn(true);
      }
    }
  }

  &__text {
    @include exo(600);
    text-transform: uppercase;
    color: $white;
    text-align: center;

    span {
      display: block;
      transform: rotate3d(0, 0, 0, 0deg);
      transition:
        transform 0.3s,
        opacity 0.3s;
      transform-origin: center top;
      position: relative;
      &:nth-child(2) {
        // transform: translate3d(0, 0, 100%);
        position: absolute;
        white-space: nowrap;
        opacity: 0;
        left: 50%;
        top: 0;
        transform-origin: center bottom;
        transform: rotate3d(1, 0, 0, -90deg) translateX(-50%) translateY(2rem);
      }
    }

    &:hover {
      span {
        transform: rotate3d(1, 0, 0, -90deg);
        &:nth-child(2) {
          opacity: 1;

          transform: rotate3d(0, 0, 0, 0deg) translateX(-50%);
        }
      }
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    object-fit: cover;
  }

  @media (max-width: $pc-width) {
    & {
      @include flex(center, center, 0, column);
    }

    &__logo {
      transform: none;
      position: static;
    }

    &__btn {
      &--next {
        // transform: none;
        // position: static;
        bottom: 13rem;
      }
    }
  }

  @media (max-width: $tb-width) {
    &__logo {
      width: 16rem;
      height: 16rem;
    }
  }
}
